<hr>
<h4>Sign Up</h4>
<hr>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <section>
            <form action="/calendar">
              <!-- <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li></ul></div> -->
                <div class ="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="role" value="professor"> Professor &nbsp;&nbsp;</label> 
                            
                        <label class="radio-inline">
                            <input type="radio" name="role" value="student"> Student </label>
                </div>
              <div class="form-group">
                  <label for="Email">Email</label>
                  <input class="form-control" type="email" id="Email" name="Email" [(ngModel)]="email" />
                  <!-- <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span> -->
              </div>
              <div class="form-group">
                  <label for="Password">Password</label>
                  <input class="form-control" type="password" id="Password" name="Password" [(ngModel)]="password"/>
                  <!-- <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span> -->
              </div>
              <div class="form-group">
                  <label for="ConfirmPassword">Confirm Password</label>
                  <input class="form-control" type="password" id="ConfirmPassword" name="ConfirmPassword" [(ngModel)]="confirmPassword"/>
                  <!-- <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span> -->
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-default">Sign Up</button>
              </div>
            </form>
        </section>
    </div>
</div>
<hr>
