<p>
  calendar-detail works!
</p>

<form action="/calendar">
  <div class="form-group">
    <label for="calendarName">Calendar Name</label>
    <input id="calendarName" name="calendarName" class="form-control mr-sm-2" type="text" value="New Calendar 2" aria-label="Course Name">
  </div>
  <div>
    <label>Access Code: </label>
    <input id="accessCode" name="accessCode" class="form-control mr-sm-2" type="text" value="Access Code" aria-label="Access Code" readonly>
  </div>
  <div>
    <label>Owner:</label>
    <input id="owner" name="owner" class="form-control mr-sm-2" type="text" value="Owner" aria-label="Owner" readonly>
  </div><br><br>
  <div>
    <button class="btn btn-outline-success" type="submit">Rename</button>
    <button class="btn btn-outline-warning" type="submit">Unsub</button>
    <button class="btn btn-outline-secondary" type="submit">Cancel</button>
  </div><br>
  <div>
    <button class="btn btn-outline-danger" type="submit">Delete</button>
  </div>
  
</form>


