<hr>
<h4>Log In</h4>
<hr>
<div class="row">
    <div  class="col-md-10 col-md-offset-1">
        <section>
            <p *ngIf="message">{{message}}</p>
            <form #loginForm="ngForm">
              <!-- <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li></ul></div> -->
              <div class="form-group">
                  <label for="Email">Email</label>
                  <input class="form-control" type="email" id="Email" name="Email" [(ngModel)]="email" required />
                  <!-- <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span> -->
              </div>
              <div class="form-group">
                  <label for="Password">Password</label>
                  <input class="form-control" type="password" id="Password" name="Password" [(ngModel)]="password" required />
                  <!-- <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span> -->
              </div>
              <div class="form-group">
                  <div class="checkbox">
                      <label for="RememberMe">
                          <input type="checkbox" id="RememberMe" name="RememberMe" value="true" />
                          Remember me?
                      </label>
                  </div>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-success" (click)="login()" [disabled]="!loginForm.form.valid">Log in</button>
              </div>
            </form>
            <div class="form-group">
                <p>
                    <a routerLink="/account/forgetPassword" routerLinkActive="active">Forgot your password?</a>
                </p>
                <p>
                    <a routerLink="/account/register" routerLinkActive="active">Register as a new user?</a>
                </p>
            </div>
        </section>
    </div>
</div>
<hr>
