<head>
        <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>
<hr>
<h4>New Event</h4>
<hr>
<form action="/calendar">
   
    <!-- <div class="form-group">
        <label for="EventID" class="control-label">Event ID</label>
        <input id="EventID" name="EventID" class="form-control" /> 
    </div> -->
    <div class="form-group">
        <label for="EventTitle" class="control-label">Event Title</label>
        <input id="EventTitle" name="EventTitle" type="text" placeholder="Event Title" class="form-control" /> 
    </div>
    <div class="form-group">
        <label for="StartDate" class="control-label">Start Date</label>
        <input id="StartDate" name="StartDate" type="date" placeholder="mm/dd/yyyy" class="form-control" />
    </div>
    <div class="form-group">
        <label for="StartTime" class="control-label">Start Time</label>
        <input id="StartTime" name="StartTime" type="time" placeholder="h:mm:ss" class="form-control" />
    </div>
    <div class="form-group">
        <label for="EndDate" class="control-label">End Date</label>
        <input id="EndDate" name="EndDate" type="date" placeholder="mm/dd/yyyy" class="form-control" />
    </div>
    <div class="form-group">
        <label for="EndTime" class="control-label">End Time</label>
        <input id="EndTime" name="EndTime" type="time" placeholder="h:mm:ss" class="form-control" />
    </div>
    <div class="form-group">
        <label for="CalendarName" class="control-label">Choose Calendar</label>
        <input id="CalendarName" name="CalendarName" type="text" placeholder="Calendar Name" class="form-control" />
        </div>

        <!-- <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' id="start_date" name="start_date" class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                </div>
            </div> -->

                    
                   

    <div class="form-group">
        <button class="btn btn-outline-success" type="submit">Save</button>
    </div>
</form>
<hr>