<hr>
<p>Events on: {{date | date: "MMMM d, yyyy"}}</p>
<hr>
<ul class="list-group">
  <li *ngFor="let ev of events" class="list-group-item">
    <p><a routerLink="/event/{{ev.eventID}}">{{ev.name}}</a></p>
    <p>{{ev.startTime | date: "H:mm"}} - {{ev.endTime | date: "H:mm"}}</p>
    
  </li>
</ul>
<hr>
<div>
  <button class="btn btn-outline-success" (click)="update()">Update</button>
  <button class="btn btn-outline-secondary" routerLink="/calendar">Back</button>
</div><br>
<div>
  <button class="btn btn-outline-danger" (click)="delete()">Delete</button>
</div>
