<hr>
<h4>New Calendar</h4>
<hr>
<form action="/calendar">
  <div class="form-group">
    <label for="calendarName">Calendar Name</label>
    <input id="calendarName" name="calendarName" class="form-control mr-sm-2" type="text" value="New Calendar 2" aria-label="Course Name">
  </div>
  <div class="form-group">
    <label for="calendarKey">Key</label>
    <input id="calendarKey" name="calendarKey" class="form-control mr-sm-2" type="text" value="newcalendar2bcitssd2018" aria-label="Key">
  </div>
  <button class="btn btn-outline-success" type="submit">Create</button>
</form>
