<p>
  calendar-create works!
</p>

<form class="form-inline my-2 my-lg-0">
  <label>Course Name</label>
  <input class="form-control mr-sm-2" type="text" placeholder="Course Name" aria-label="Course Name"><br>
  <label>Course Number</label>
  <input class="form-control mr-sm-2" type="text" placeholder="Course Number" aria-label="Course Number"><br>
  <label>Term</label>
  <input class="form-control mr-sm-2" type="text" placeholder="Term" aria-label="Term"><br>
  <label>Instructor</label>
  <input class="form-control mr-sm-2" type="text" placeholder="Instructor" aria-label="Instructor"><br>
  <label>Key</label>
  <input class="form-control mr-sm-2" type="text" placeholder="Key" aria-label="Key"><br><br><br><br>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Save</button>
</form>
