<app-navbar></app-navbar> 
<div class="container">
    <div class="row">
        <div class="side-bar col-sm-3">
                
            <router-outlet></router-outlet>
            <a routerLink="/calendar/create" routerLinkActive="active">Create New</a><br>
            <a routerLink="/calendar/sub" routerLinkActive="active">Subscribe</a>
        </div>
        <div class="starter-template col-sm-9">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>
    </div>
    <a routerLink="/event/create" routerLinkActive="active" class="big-red">+</a>
</div>
