<app-navbar></app-navbar> 

<div class="container-fluid">
    <div class="row">
        <div class="side-bar col-sm-3">
                
            <router-outlet></router-outlet>
        
        </div>
        <div class="starter-template col-sm-9">
            <img src="/dist/assets/images/DEMO_month_Cal.JPG" alt="calendar">

            <div class="calendar">
                <div class="calendar-navs">
                  <div class="month-nav">
                    <button (click)="prevMonth()">&lt;</button>
                    <span class="p4">{{ currentDate.format('MMMM') }}</span>
                    <button (click)="nextMonth()">&gt;</button>
                  </div>
                  <div class="year-nav">
                    <button (click)="prevYear()">&lt;</button>
                    <span>{{ currentDate.format('YYYY') }}</span>
                    <button (click)="nextYear()">&gt;</button>
                  </div>
                </div>
                <div class="month-grid">
                  <div class="day-names">
                    <div *ngFor="let name of dayNames" class="day-name p9">
                      {{ name }}
                    </div>
                  </div>
                  <div class="weeks">
                    <div *ngFor="let week of weeks" class="week">
                      <ng-container *ngFor="let day of week">
                        <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
                          <span class="date-text">{{ day.mDate.date() }}</span>
                        </div>
                        <div class="week-date enabled"
                             *ngIf="isSelectedMonth(day.mDate)"
                             (click)="selectDate(day)"
                             [ngClass]="{ today: day.today, selected: day.selected }">
                          <span class="date-text">{{ day.mDate.date() }}</span>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>


        </div>
    </div>
    <a routerLink="/event/create" routerLinkActive="active" class="big-red">+</a>
    <p>Example student account - Email:"student@koalademo.com", Password:"!QAZ2wsx"</p>
    <p>Example professor accounr - Email:"professor@koalademo.com", Password:"!QAZ2wsx"</p>
    <p>The two types of roles behave the same on the client side right now.</p>
    <p><a href="https://github.com/LinZhou-BCIT/KoalaCalendar/blob/master/docs/InternalProjectPhase2.docx">Doc Link</a> Last Updated: Tuesday Feb 13, 2018</p><br><br>

 
  
    <p>Client App Last Updated: Tuesday Feb 27, 2018</p>

</div>


