<hr>
<h4>Event Detail</h4>
<hr>
<form *ngIf="event" (submit)="update()">
    <div class="form-group">
        <label for="EventTitle" class="control-label">Event Title</label>
        <input id="EventTitle" name="EventTitle" type="text" [(ngModel)]="event.name" placeholder="Event Title" class="form-control" /> 
    </div>
    <div class="form-group">
        <label for="StartDate" class="control-label">Start Time</label>
        <input id="StartDate" name="StartDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" 
            [(ngModel)]="event.startTime" class="form-control" />
        <owl-date-time #dt1></owl-date-time>
    </div>
    <div class="form-group">
        <label for="EndTime" class="control-label">End Time</label>
        <input id="EndTime" name="EndTime" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" 
            [(ngModel)]="event.endTime" class="form-control" />
        <owl-date-time #dt2></owl-date-time>
    </div>
    <div class="form-group">
        <label for="CalendarID" class="control-label">Calendar</label>
        <input id="CalendarID" name="CalendarID" [(ngModel)]="event.calendarName" type="text" class="form-control" readonly>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-success" type="submit">Update</button>
        <button class="btn btn-outline-secondary" routerLink="/calendar">Back</button>
    </div>
</form>
<hr>