<div class="calendar-list">
  <hr>
  <h4>My Calendars</h4>
  <hr>
  <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
          ASP.NET
      </label>
  </div>
  <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
          Angular
      </label>
  </div>
  <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
          Java
      </label>
  </div>
  <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
          JavaScript
      </label>
  </div>
  <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
          My Calendar
      </label>
  </div>
  <hr>
  <p>
    <a routerLink="/calendar/create" routerLinkActive="active">New Calendar</a>
  </p>
  <p>
    <a routerLink="/calendar/sub" routerLinkActive="active">Subscribe with Access Code</a>
  </p>
  <hr>
  <form>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <button class="btn btn-outline-success" type="submit">Search</button>    
  </form>
  <hr>
</div>