<div class="calendar-list">
  <hr>
  <h4>My Calendars</h4>
  <hr>
  <p *ngIf="ownedCalendars">Owned Calendars:</p>
  <ul class="list-group">
    <li *ngFor="let cal of ownedCalendars" class="list-group-item">
      <a routerLink="/calendar/own/{{cal.calendarID}}" routerLinkActive="active">
        {{cal.name}}
      </a>
    </li>
  </ul>
  <hr>
  <p *ngIf="subbedCalendars">Subscribed Calendars:</p>
  <ul class="list-group">
    <li *ngFor="let cal of subbedCalendars" class="list-group-item">
      <a routerLink="/calendar/sub/{{cal.calendarID}}" routerLinkActive="active">
        {{cal.name}}
      </a>
    </li>
  </ul>
  <hr>
  <p>
    <a *ngIf="isProf" routerLink="/calendar/create" routerLinkActive="active">New Calendar</a>
  </p>
  <p>
    <a routerLink="/calendar/sub" routerLinkActive="active">New Subscription</a>
  </p>
  <hr>
  <!-- <form>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
      <button class="btn btn-outline-success" type="submit">Search</button>    
  </form>
  <hr> -->
</div>